@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li[data-done='true'] {
    text-decoration: line-through;
}

h1 {
  font-size: 36px;
}

/* [id="root"] {
    background-color: lightpink;
} */